
$colour-sb: #052337;
$colour-coop: #4488E1;
$colour-opensource: #FFC600;
$colour-crypto-law: #6DD9AC;
$colour-energy: #FFA317;
$colour-fintech: #FFE348;
$colour-envirorment: #00AA63;
$colour-sector-title: #001421;
$colour-button: #F1F1F1;

// Colors----
$lochmara:#082336;
$white:#fff;
$festival:#f9efb1;
$neon-blue:#4488E1;
$corn-field:#fef3b6;
$elephant:#576169;
$limeade:#2c5994;
$cerulean-blue:#97a7dc;
$emerald:#a9f5bf;
$light-slate-gray:#778691;
$whisper:#eeeeee;
$gray97:#f7f7f7;
$black-pearl:#072237;
$mariner:#8c99cd;
$light-gray:#e6e6e6;
$Brilliant-rose:#00a963;
$pattens-blue:#7f8d96;
$silver-tree:#79c7a5;
$air-force-blue:#83919a;
$spindle:#8f9aa3;
$red-orange:#f9a11d;
$gray99:#e9e9e9;
$default-text-color: #333333;

$tablet_view: 1050px;
$mobile_land: 599px;
$mobile_pot: 479px;