@charset "UTF-8";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "global_vars";
@import "../bower_components/font-awesome/css/font-awesome.css";
$default-delay: 0.333s;
@import "_reset";
@import "_animated";
@import "_mixins";
@import "typography";


// Fonts
$Roboto: 'Roboto', sans-serif;

// Spacing
$default-padding: 12px;
$text-width: 740px;
$padding: 48px;


#spacer {
  height: 1px;
  min-height: 1px;
  width: 100%;
}

//Layout
.content {
  padding: $default-padding $default-padding 0px $default-padding;
  margin: 0 auto 0 auto;
  max-width: $text-width;
}

[class^=col-] {
  padding: 0;
}

// Navigation
.fa-bars:before {
  content: "\f0c9";
}

.fa-times:before {
  content: "\f00d";
}

// Global
.post-meta {
  a {
    display: inline-block;
    margin: 20px 10px 0px 10px;
    padding: 5px 10px 5px 10px;
    background-color: $neon-blue;
    color: #ffffff !important;
    font-size: 14px !important;
    font-weight: 400 !important;
  }
  h1 {
    margin: 20px 10px 0px 10px;
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: rgba(0,0,0,0.2);
  width: 100%;
  -webkit-filter: sepia(1);
  filter: sepia(1);
}

#header {
  height: 55px;
  * {
    border: 0 !important;
    border-color: transparent !important;
  }
  .navbar {
    position: fixed;
    z-index: 9999;
    width: 100%;
    border-radius: 0;
  }
  .navbar-default {
    background-color: $lochmara;
    @include transition(all ease-in-out 0.3s);
  }

  .navbar-right {
    margin-right: 10px;
  }

  .navbar-collapse {
    @extend .fadeOutUp;
    @include transition(all ease-in-out 0.3s);
  }

  @media (min-width: $screen-sm) {
    .navbar-toggle {
      display: none !important;
    }
    .navbar-collapse {
      padding-top: 0 !important;
    }
  }

  &.toggle {
    .navbar-collapse {
      @extend .fadeInDown;
      @include transition(all ease-in-out 0.3s);
    }
  }
  .navbar-collapse {
    position: fixed;
    max-width: 50%;
    right: 10px;
    background-color: $lochmara;
    padding-top: 10px;
    ul {
      li a {
        color: #ffffff !important;
      }
      li.active a, li.active a:focus, li.active a:active, a:hover {
        background-color: $lochmara !important;
        color: $corn-field !important;
      }
    }
  }
  .navbar-toggle {
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 15px 15px 0 0 !important;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    cursor: pointer;
    display: block;
    z-index: 999999;
    position: relative;
    i {
      color: #ffffff;
      @extend .fa-bars;
    }
    &:hover {
      background-color: transparent !important;
    }
  }
  &.toggle {
    .navbar-toggle {
      i {
        @extend .fa-times;
      }
    }
  }
  &.sticky, &.toggle {
    .navbar-default {
      background-color: $lochmara !important;
      height: 55px;
      @include transition(all ease-in-out 0.3s);
    }
    i {
      color: #ffffff;
    }
    opacity: 1;
    z-index: 99999;
    visibility: visible;
    display: block;
    @media(max-width: $screen-xs-max) {
      background: $black-pearl;;
      background-size: cover;
      transition: inherit !important;
      .logo {
        display: block;
        top: 0;
        left: 0;
      }
    }
  }
}

// Post
$default-margin: 20px 10px 10px 10px;
.post-head {
  position: relative;
  height: 470px;
  overflow: hidden;
  .description {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    .container {
      padding: 0 $padding 0 $padding;
      color: #ffffff;
      a, h1 {
        color: #ffffff;
      }
    }
  }
}

.author-image {
  display: inline-block;
  max-width: 100px;
  max-height: 100px;
  margin: 20px 10px 30px 10px;
  img {
    max-width: 75px;
    max-height: 75px;
  }
}

.name-date {
  display: inline-block;
  margin: $default-margin;
  width: 50%;
  vertical-align: top;
}

.post {
  h1 {
    display: block;
    margin: $default-margin;
  }
  .post-header {
    .share {
      margin: $default-margin;
    }
  }
  .post-content {
    margin: $default-margin;
  }
}

// Homepage
// Banner
.sb-banner-colour {
  background: #FF8008; /* fallback for old browsers */
  background: -webkit-linear-gradient(40deg, #FF8008, #FFC837) !important; ; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(40deg, #FF8008, #FFC837) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.banner-section {
  @extend .sb-banner-colour;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ecdf55+0,82c99f+100 */
  background: #ecdf55; /* Old browsers */
  display: block;
  height: 100%;
  position: relative;
  min-height: 650px;
  min-width: 320px;
  @media (min-width: $screen-xs) {
    min-height: 400px;
    min-width: $screen-xs;
  }
  @media (min-width: $screen-sm) {
    min-height: 400px;
    min-width: $screen-sm;
  }
  @media (min-width: $screen-md) {
    min-height: 400px;
    min-width: $screen-md;
  }
  p {
    text-align: center;
    padding: 0 12px 0 12px;
    margin-left: auto;margin-right: auto;
    max-width: 330px;
  }
  .banner {
    width: 100%;
    background: url(/assets/img/svg/lines.svg) no-repeat;
    background-size: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    .container {
      height: 100%;
      .row {
        height: 100%;
        .banner-in {
          margin-top: 0;
          @media (min-width: $screen-sm) {
            margin-top: 0;
          }
          .banner-cont {
            p {
              text-align: center !important;
              color: $lochmara;
              line-height: 1.5;
            }
            margin-top: 1%;
            @media(max-width: $screen-xs-max) {
              padding: 20px 0;
            }
            figure {
              //margin: 0 0 29px 0;
              margin-left: auto;
              margin-right: auto;
              max-width: 300px;
              @media(max-width: $mobile_land) {
                width: 240px;
                display: block;
                margin: 0 auto 15px;
              }
              img {
                display: block;
                @media(max-width: $mobile_land) {
                  width: 100%;
                  height: auto;
                  margin: 0 auto 0;
                }
              }
            }
          }
        }
      }
    }
  }
}


// Loop
/* centered columns styles */
.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}


.col-fixed {
  /* custom width */
  width:320px;
}
.col-min {
  /* custom min width */
  min-width:320px;
}
.col-max {
  /* custom max width */
  max-width:320px;
}

#content {
  max-width: 1100px;
  padding-top: $padding;
  .post-image {
    position: relative;
    padding-left: $padding !important; padding-right: $padding!important;
  }
  article {
    max-width: 660px;
    margin-left: auto;margin-right: auto;
    a {
      font-size: 20px;
      font-weight: 400;
      color: #ffffff;
    }
    .post-meta {
      float: right;
      padding: 27px 48px 0px 48px;
    }
    .img {
      position: relative;
      min-height: 300px;
      .post-title {
        a {
          padding: 0 $padding 0 $padding !important;
        }
      }
      .post-header {
        padding-top: $padding;
        padding-bottom: $padding/2;
      }
      p {
        color: #ffffff;
        padding: 0 $padding 0 $padding !important;
      }

      .post-excerpt {
        padding-bottom: $padding/2;
      }
      .text {
        vertical-align: top;
      }
    }

  }
  hr  {
    border-top: 1px solid #C4C4C4;
  }
  @media (min-width: $screen-sm) {
    hr  {
      margin: 64px $padding 64px $padding;
    }
    article {
      max-width: 100%;
    }
    img {
      max-height: 400px;
    }
  }
  padding-bottom: 200px;
}

// Author page
.author-head {
  .overlay {
    background: rgba(0,0,0,0.5);
  }
  position: relative;
  min-height: 200px;
  color: #ffffff;
  a, .author-title {
    color: #ffffff;
  }
  .icon-location {
    font-weight: 500;
  }
  .author-bio {
    padding-bottom: $padding/2;
  }
}
.author-profile {
  margin: $padding auto 0 auto;
  padding: 0 $padding $padding $padding;
  .author-image  {
    .img {
      min-width: 100px; min-height: 100px;
    }
  }
}

.tags.content {
  padding: 0 $padding 0 $padding;
  .row {
    padding: 0 $padding $padding $padding;
  }
}